# 05-06-25(Day3)

## Set Theory

In [1]:
## Union
s1 = {1,2,3}
s2 = {3,4,5}

In [4]:
s1 | s2 # Full join Left+Right+Common

{1, 2, 3, 4, 5}

s1.union(s2)

In [5]:
## Intersection
s1 = {1,2,3}
s2 = {3,4,5}

In [6]:
s1 & s2# Inner Only Common Data

{3}

In [7]:
s1.intersection(s2)# & or intersection

{3}

In [8]:
## Difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}

In [9]:
s1-s2# left Anti

{1, 2, 3, 4}

In [12]:
s1.difference(s2)# - or Difference

{1, 2, 3, 4}

In [11]:
s2-s1# Right Anti

{7}

In [13]:
## Symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [12]:
s1.symmetric_difference(s2)#Left Anti+Right Ani

{1, 2, 3, 6, 7, 8}

In [14]:
s1 = {1,2,3,4,5}
s2 = {1,7}

In [15]:
s2.issubset(s1)

False

## Regular expressions

In [18]:
#!pip install Libraryname----- only for 1sr time 
#import Libraryname as Alias Name

In [16]:
import re

In [21]:
str1 = "Welcome to python session"

In [24]:
# Findall is used to return the no.of occurance of matched string in the given string
x = re.findall('s',str1)
x

['s', 's', 's']

In [25]:
y=re.findall('Welcome',str1)
y

['Welcome']

In [26]:
y=re.findall('abc',str1)
y

[]

In [27]:
# Search() method is used to display the matched string
x=re.search('e',str1)
x

In [29]:
x=re.search('python',str1)
x

In [30]:
x=re.search("abc",str1)
x

In [37]:
str1='ExcelR-Pune-123'

In [38]:
z=re.split("-",str1)
z

['ExcelR', 'Pune', '123']

In [43]:
z=re.split("",str1)
z

['',
 'E',
 'x',
 'c',
 'e',
 'l',
 'R',
 '-',
 'P',
 'u',
 'n',
 'e',
 '-',
 '1',
 '2',
 '3',
 '']

In [40]:
str2='Hi Python Hello Analytics'

In [44]:
x=re.sub('Python','Analytics',str2)#  Substitute/replace

In [37]:
x

'Hi Analytics Hello Analytics'

In [46]:
x=re.match('Hi',str2)
x

In [47]:
str2

'Hi Python Hello Analytics'

In [51]:
x=re.match("Python",str2)# Only First position

In [49]:
str1

'ExcelR-Pune-123'

In [53]:
x=re.search('Excel',str1)
x

## Assigning values

In [68]:
StrDataScience='''Data Science -Branch of Science deals  
with Statistics, Computing, Processing, Visualization,
Algorithms to find insights from  Data.'''
StrDataScience

'Data Science -Branch of Science deals  \nwith Statistics, Computing, Processing, Visualization,\nAlgorithms to find insights from  Data.'

In [57]:
print(StrDataScience)

Data Science -Branch of Science deals
with Statistics, Computing, Processing, Visualization,
Algorithms to find insights from  Data.

In [59]:
# '=' is used for assignment
a,b,c = 1,'xyz',5.5
a,b,c

(1, 'xyz', 5.5)

In [71]:
type(a)

str

In [61]:
## Multiple strings
a_str = 'This is a single line string'
a_str

'This is a single line string'

In [66]:
a_str1 =''' This is
a multiline
string'''
a_str1

' This is\na multiline\nstring'

In [64]:
print(a_str1)

 This is
a multiline
string

## Getting input from users

In [72]:
name = input()
name

 akansha

'akansha'

In [88]:
age = input('Enter your age greater than 18:')
age

Enter your age greater than 18: 20

'20'

In [89]:
age = int(input('Enter your age:'))
age

Enter your age: 20

20

In [76]:
type(age)

int

In [86]:
city = input()
city

 pune

'pune'

In [87]:
type(city)

str

## Print statement in python

In [90]:
print('Hello world')

Hello world

In [91]:
'Hello world'

'Hello world'

In [92]:
name1 = input('Enter your name:')
name1

Enter your name: akansha

'akansha'

In [93]:
print('Hello',name1)

Hello akansha

In [94]:
print(name1,'is',age,'years old')

akansha is 20 years old

In [100]:
## Starndard way of using print statement
print('{0} is {1} years old'.format(name1,age))

akansha is 20 years old

In [96]:
print(f'{name1} is {age} years old') # f-string method

akansha is 20 years old

In [105]:
sruares(8)

NameError: name 'sruares' is not defined

## Identity Operators

In [107]:
"d" == "Hi"

False

In [108]:
"hi" == "hi"

True

In [109]:
1 == 1

True

In [110]:
2 == 1

False

In [115]:
"hi" == "hi"

True

In [116]:
1 == 0

False

In [117]:
1 != 0

True

In [118]:
"hi hello" != "hello hi"# Not Equal to

True

In [124]:
a = 10
b = 10

In [125]:
a is b

True

a=rt
b=rt

In [123]:
a is b

False

In [126]:
a = 999
b = 999

In [127]:
a is b

False

In [128]:
a = 257.0
b = 257.0
a is b

False

In [129]:
a = 'hello'
b = 'hello'
a is b

True

In [131]:
a = 'Welcome'
b = 'WelcoMe'

In [132]:
a is b

False

## Conditional statements

In [133]:
# If
num = -5
if num > 0:
    print(num, "is a positive number.") 
print("This is always printed.")

This is always printed.

In [134]:
# If else:
num = 5

if num > 0:
    print("Positive")
    
else:
    print("Negative number")

Positive

In [137]:
## Define a function with conditional statement

def max_num(num1,num2,num3):

    if num1 >= num2 and num1 >= num3:

          return num1

    elif num2 >= num1 and num2 >= num3:
          return num2

    else:
          return num3
print(max_num(4,6,1))

6

In [139]:
print("Maximum number is -",max_num(3,40,5))

Maximum number is - 40

In [119]:
# Nested If
num = int(input("Enter a number: "))


if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number:  -10

Negative number

##  For loop

In [120]:
# for Loop
# for each item in sequence , last item reached , no - body of loop , yes , exit loop


#Ex:1

snacks = ['pizza','burger','shawarma','franky']

for x in snacks:
    print("current snack: ", x)
print("Good day!")

current snack:  pizza
current snack:  burger
current snack:  shawarma
current snack:  franky
Good day!

In [135]:
Str1="Python3"
Str1

'Python3'

In [155]:
a=len(Str1)
for i in range(0,a):
    print(Str1[i])
       
    for j in range(0,i):
       print(Str1[i])

P
y
y
t
t
t
h
h
h
h
o
o
o
o
o
n
n
n
n
n
n
3
3
3
3
3
3
3

In [142]:
#Ex:2

num = int(input("number: "))
factorial =1

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("factorial =  " ,factorial)

number:  -9

must be positive

In [146]:
#Nested for loop

for i in range(0,3):
    for j in range(0,3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [51]:
# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

## While loop

In [157]:
# initialize sum and counter
n = 5
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 15

In [161]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 5:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside else

In [159]:
#Ex: 1

count = 0

while count <= 20:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

Digit:  0
Digit:  1
Digit:  2
Digit:  3
Digit:  4
Digit:  5
Digit:  6
Digit:  7
Digit:  8
Digit:  9
Digit:  10
Digit:  11
Digit:  12
Digit:  13
Digit:  14
Digit:  15
Digit:  16
Digit:  17
Digit:  18
Digit:  19
Digit:  20
Thank you

## Functions

In [162]:
def myfunc():
    print('Hello')

In [163]:
myfunc()

Hello

In [164]:
def myfunc(name):
    print('Hello',name)

In [165]:
myfunc('rohit')

Hello rohit

In [166]:
def squares(x):
    return x**2

In [167]:
squares(6)

36

In [172]:
def cube(a):
    return a**3# ^ not valid ** for take power of any number

In [173]:
cube(3)

27

## Lambda function

In [180]:
fn = lambda x : x**2#  Square if number

In [182]:
fn(4)

16

In [176]:
type(fn)

function

In [183]:
lst = ['c++','c','python','java','mysql123']
lst

['c++', 'c', 'python', 'java', 'mysql123']

In [184]:
lst.sort(key = lambda x: len(x))

In [185]:
lst

['c', 'c++', 'java', 'python', 'mysql123']

In [186]:
#**************************************************************